<!DOCTYPE html>
<html lang="en">
    <head>
    <meta char="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Twitter Service Implementation</title>
        <h style="font-weight: bold;color:red;font-size:20px;">Choose your Twitter Function:</h>
        <br>
        <br>
    </head>
   <body>
        {% for options in twitter_options %}

            {% if options == 'tweet_lookUp' %}
               <form action="/looktweet" method="GET" action="/">
                <label for="tweet">Tweet Lookup:Enter Username:</label>
                <input type="EnterUsername" name="username" ><br>
                <input type="submit" value="Submit">
                <br>
                <br>
                <br>

            {% elif options == 'find_followers' %}
                 <form action="/followers" method="GET" action="/">
                 <label for="tweet">Find Followers:Enter Username:</label>
                 <input type="EnterUsername" name="username" ><br>
                  <input type="submit" value="Submit">
                  <br>
                  <br>
                  <br>
                  </form>

            {% elif options == 'most_recent_tweet' %}
                  <form action="/mostRecentTweet" method="GET" action="/">
                  <label for="tweet">Most Recent Tweet:Enter Username</label>
                  <input type="text" name="query" ><br>
                  <input type="submit" value="Submit">
                  </form>
                  <br>
                  <br>
                  <br>
            {% endif %}
        {% endfor %}
      </body>

   </html>

