<!DOCTYPE html>
<html lang="en">
    <head>
    <meta char="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>lookfortweets</title>
        <h style="font-weight: bold;color:red;font-size:20px;">Choose your twitter functions</h>
        <br>
        <br>
    </head>
     <body>
       <form action="/looktweet" method="GET" action="/">
        <label for="tweet">Tweet Lookup:</label>
        <input type="EnterUsername" name="username" required><br>
        <input type="submit" value="Submit">


        <br>
        <br>
        <br>

       </form>
     </body>
   </html>

