<!DOCTYPE html>
<html lang="en">
    <head>
    <meta char="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>mostRecentTweet</title>
        <h style="font-weight: bold;color:red;font-size:20px;">Here is the most recent tweet for your search: {{query}}</h>
    </head>
    <body>
      <br>
      <br>
        <ul>
            <li>{{recentTweet}}</li>
        </ul>
       <p style="color:blue;font-size:18px;">Thanks - Twitter Implementation </p>
    </body>
</html>