<html>
    <head>
        <title>Tweets Timeline for User</title>
        <script>
            function redirect(tweet_id){
                console.log(window.location.protocol + "//" + window.location.host + "/hide_tweet/" + tweet_id)
                window.location.href = window.location.protocol + "//" + window.location.host + "/hide_tweet/" + tweet_id
            }
        </script>
    </head>
    <body>
        {{success}}
        <ul>
        {%for tweet in tweets.data%}
        <li>
            <ul>{{tweet.text}}</ul>
            <ul><button id="{{tweet.id}}" name="Hide" onclick="redirect('{{tweet.id}}')" />Hide</ul>
        </li>
        {%endfor%}
    </ul>
    </body>
</html>